
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WebApp.ViewModels.Common
@model PageResult<WebApp.ViewModels.Catalog.Products.ProductViewModel>

@{
    ViewData["Title"] = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Danh sách người dùng</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
            </a>
        </div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách người dùng</li>
        </ol>
        <!-- DataTales-->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-md-4 col-xl-2">
                        <a asp-controller="Product" asp-action="CreateUser" class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-user-plus"></i>
                            </span>
                            <span class="text">Thêm mới</span>
                        </a>
                    </div>
                    <div class="col-6">
                    </div>
                    <div class="row justify-content-end">
                        <form class="form-inline m-1" method="get" asp-action="Index">
                            <div class="col-md-4 col-xl-12">
                                <input type="text" name="Keyword" class="form-control mr-sm-3 " value="@ViewBag.Keyword" placeholder="Tìm kiếm" />
                                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search fa-sm"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
            <div class="table-responsive">
                <table class="table table-bordered text-gray-900" @*id="dataTable"*@ width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Mã sản phẩm
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Giá nhập
                            </th>
                            <th>
                                Giá bán
                            </th>
                            <th>
                                Số lượng tồn
                            </th>                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OriginPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>                               
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new {  id=item.Id }) |
                                    @Html.ActionLink("Chi tiết", "Details", new {  id=item.Id }) |
                                    @Html.ActionLink("Xóa", "Delete", new {  id=item.Id })                                    
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
                @await Component.InvokeAsync("Page",Model)
            </div>

        </div>

    </div>

</div>

